# Copyright (c) 2017 The LineageOS Project
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on boot
    #change permission for capsensor
    chmod 0660 /sys/class/capsense/enable
    chown system system sys/class/capsense/enable
    chmod 0660 /sys/class/capsense/reset
    chown system system sys/class/capsense/reset

    #change permissions for other sensors
    chown system system "/sys/class/sensors/bma25x-accel/enable"
    chown system system "/sys/class/sensors/bma25x-accel/poll_delay"
    chown system system "/sys/devices/virtual/bst/ACC/int_mode"
    chown system system "/sys/devices/virtual/bst/ACC/flush"
    chown system system "/sys/devices/virtual/bst/ACC/flatdown"
    chown system system "/sys/kernel/range/als_enable"
    chown system system "/sys/kernel/range/set_delay_ms"
    chown system system "/sys/kernel/range/enable_sar"
    chown system system "/sys/kernel/range/enable_stow"
    chown system system "/sys/kernel/range/near"
    chown system system "/sys/kernel/range/als_lux"
    chown system system "/sys/kernel/range/flush"
    chown system system "/sys/class/sensors/mxg3300_compass/enable"
    chown system system "/sys/class/sensors/mxg3300_compass/flush"
    chown system system "/sys/class/sensors/mxg3300_compass/poll_delay"
    chown system system "/sys/class/sensors/mxg3300_compass/self_test"

    chmod 0664 "/sys/class/sensors/bma25x-accel/enable"
    chmod 0664 "/sys/class/sensors/bma25x-accel/poll_delay"
    chmod 0664 "/sys/devices/virtual/bst/ACC/int_mode"
    chmod 0664 "/sys/devices/virtual/bst/ACC/flush"
    chmod 0664 "/sys/devices/virtual/bst/ACC/flatdown"
    chmod 0664 "/sys/kernel/range/als_enable"
    chmod 0664 "/sys/kernel/range/set_delay_ms"
    chmod 0664 "/sys/kernel/range/enable_sar"
    chmod 0664 "/sys/kernel/range/enable_stow"
    chmod 0664 "/sys/kernel/range/near"
    chmod 0664 "/sys/kernel/range/als_lux"
    chmod 0664 "/sys/kernel/range/flush"
    chmod 0664 "/sys/class/sensors/mxg3300_compass/enable"
    chmod 0664 "/sys/class/sensors/mxg3300_compass/flush"
    chmod 0664 "/sys/class/sensors/mxg3300_compass/poll_delay"
    chmod 0664 "/sys/class/sensors/mxg3300_compass/self_test"

# Egistec fingerprint feature
on post-fs-data
    mkdir /data/misc/egistec 0700 system system
    chmod 0660 /sys/devices/platform/egis_input/navigation_event
    chmod 0660 /sys/devices/platform/egis_input/navigation_enable
    chmod 0660 /sys/devices/soc/0.et320/etspi_enable
    chown system system /sys/devices/platform/egis_input/navigation_enable
    chown system system /sys/devices/platform/egis_input/navigation_event
    chown system system /sys/devices/soc/0.et320/etspi_enable

# Egistec fingerprint fp daemon start
service etsd /system/bin/etsd
    user system
    class late_start

on property:ro.hw.fps=false
    stop etsd
    stop fingerprintd
